/* You can add global styles to this file, and also import other style files */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url('https://i.pinimg.com/originals/f1/c2/bb/f1c2bba1edba60a9418f0ba10823859e.jpg');
}